* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}


.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputSearch {
  display: flex;
  align-items: end;
  margin: 1rem 0;
  text-align: center;
}


.input {
  height: 45px;
  width: 250px;
  border: 1px solid rgba(255, 255, 255, 0.2)
}

.btnSearch {
  height: 45px;
}

.sectionError {
  height: 50px;
}

.error {
  margin-bottom: 2rem;
  color: yellowgreen;
}

.loadingText {
  color: yellowgreen;
}