* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputSearch {
  display: flex;
  margin: 1rem 0 3rem;
}